
.bg-grey{
    background: #f2f2f2;
}
.bg-white{
    background: #fff;
}
.p-15{
    padding: 15px;
}
.card-listng .card {
    padding: 15px;
    border:0;
    margin-bottom:20px;
}
.card-listng .card-body {
    padding: 0;
}
.card-listng .title {
    color: #5d65a1;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
}
.card-listng label {
    font-weight: 700;
    margin: 0;
    font-size: 14px;
}
.card-listng span, .card-listng ul li {
    color: #c7cbdc;
    font-weight: 500;
    font-size: 14px;
}
.card-listng ul {
    margin-bottom: 0;
}
.card-listng .col-md-6.col-lg-3 {
    padding-left: 0;
}

/* filter css */
.filtr-sec {
    margin-bottom: 30px;
}
.filtr-sec h5{
    font-size: 17px;
    font-weight: 600;
}
.filtr-list button.labl-btn { 
    background: #c5e09b;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 14px;
    border: 0;
    width: 45%;
    margin-bottom: 10px;
    font-weight: 500;
}
.filtr-list button.labl-btn.active {
    background: #7cba01;
}
.filtr-list button:nth-child(even) {
    float: right;
}
.filtr-list{
    margin-bottom: 15px;
}
.filtr-list h6 {
    text-align: center;
    border-bottom: 2px solid #ddd;
    margin: 0 10px 10px;
    color: #656565;
}